/* Estilos generales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.image-container {
  width: 15%;
  margin: 3px auto;
}

.image-container-orden {
  width: 25%;
  margin: 3px;
}

.image-container-imgp {
  width: 80%;
  margin: 3px auto;
}

.image-container-imgh {
  width: 70%;
  margin: 3px auto;
}

.image-container img {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

/* Agregar transformación al pasar el cursor sobre la imagen */
.image-container-imgh img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-container-imgh img:hover {
  transform: scale(1.3);
}

.margenLinea {
  margin: 20px auto;
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: #874d06;
  transition: color 0.3s;
}

a:hover {
  color: #ffd500;
}

.texto {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 3rem;
}

@media screen and (max-width: 767px) {
  .texto {
    width: 95%;
    font-size: 1.2rem;
  }
}

/* Estilos para pantalla grande */

@media screen and (min-width: 1200px) {
  header {
    padding: 40px;
  }
  .image-container {
    width: 80%;
    margin: 40px auto;
  }
  .margenLinea {
    margin: 40px auto;
  }
  .image-container-orden {
    width: 25%;
    margin: 3px;
  }
  .image-container-imgp {
    width: 80%;
    margin: 3px auto;
  }
  .image-container-imgh {
    width: 30%;
    margin: 3px auto;
    
  }
}

/* Estilos para pantalla mediana */

@media screen and (min-width: 601px) and (max-width: 1199px) {
  header {
    padding: 30px;
  }
  .image-container {
    width: 70%;
    margin: 30px auto;
  }
  .margenLinea {
    margin: 30px auto;
  }
  .image-container-orden {
    width: 25%;
    margin: 3px;
  }
  .image-container-imgp {
    width: 80%;
    margin: 3px auto;
  }
  .image-container-imgh {
    width: 70\%;
    margin: 3px auto;
  }
}

/* Estilos para pantalla pequeña */

@media screen and (max-width: 600px) {
  header {
    padding: 20px;
  }
  .image-container {
    width: 90%;
    margin: 20px auto;
  }
  .margenLinea {
    margin: 20px auto;
  }
  footer {
    padding: 10px;
  }
  .image-container-orden {
    width: 25%;
    margin: 3px;
  }
  .image-container-imgp {
    width: 100%;
    margin: 3px auto;
  }
  .image-container-imgh {
    width: 100%;
    margin: 3px auto;
  }
}

/* Estilos para footer */

footer {
  background-color: orange;
  padding: 20px;
  text-align: center;
  clear: both;
}

.fuentepie {
  font-size: 18px;
  color: #ffffff;
}

.fuentepie a {
  color: #ffffff;
  text-decoration: none;
}

.fuentepie a:hover {
  color: #ffd500;
}

/* Estilos para formulario */

form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

form input[type="text"],
form input[type="int"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.2rem;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ffd500;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

form input[type="submit"]:hover {
  background-color:#ffa07a;
}

@media screen and (max-width: 767px) {
  form {
    width: 95%;
  }
}

/* menu h*/

.sub-header {
  background-color: orange;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1000; 
}

.sub-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub-header li {
  margin: 0;
  flex-basis: 25%
}

.sub-header li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: color 0.2s ease;
}

.sub-header li a:hover {
  color: #fff;
}

.sub-header input[type="checkbox"] {
  display: none;
}

.sub-header-toggle {
  display: none;
  cursor: pointer;
  z-index: 1000; 
}

.sub-header-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: transform 0.3s ease;
}

.sub-header-toggle span:nth-child(2) {
  transform: translateY(8px);
}
.sub-header-toggle span:nth-child(3) {
  transform: translateY(-8px);
}

.sub-header input[type="checkbox"]:checked + label .sub-header-toggle span:nth-child(1) {
  transform: rotate(45deg);
}

.sub-header input[type="checkbox"]:checked + label .sub-header-toggle span:nth-child(2) {
  opacity: 0;
}

.sub-header input[type="checkbox"]:checked + label .sub-header-toggle span:nth-child(3) {
  transform: rotate(-45deg);
}

/*medias para pantallas pequeñas*/

@media screen and (max-width:500px) {
  .sub-header ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: orangered;
    display: none;
    flex-direction: column;
  }
  .sub-header li {
    margin: 0;
  }

  .sub-header-toggle {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 7%;
    height: 7%;
    cursor: pointer;
  }
  .sub-header input[type="checkbox"]:checked + label + ul {
    display: flex;
  }
}

/*normal*/

@media screen and (min-width: 501px) {
  .sub-header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sub-header li {
    flex-basis: 20%;
  }

  .sub-header-toggle {
    display: none;
  }
}

/*estilos para reseñas*/
.reseña {
  a {
    color: rgb(255, 0, 93);
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.25vw; 
  }
  border: 0.1875em solid rgba(255, 210, 46, 0.655); 
  border-radius: 0.625em; 
}

@media screen and (max-width:500px) {
  .reseña {
    a {
      color: rgb(255, 0, 93);
      font-family: "Bebas Neue", sans-serif;
      font-size: 4vw; 
    }
  }
}

/*estilos carrusel*/

#gallery {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  min-width: 100%;
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  display: block;
}

.gallery-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none; /* Elimina la numeración automática */
  padding: 0; /* Elimina el padding por defecto */
}

.pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 10px;
  cursor: pointer;
}

.pagination-item::before {
  content: ""; /* Agrega un pseudo-elemento vacío */
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.pagination-item.active::before {
  background-color: #666;
}


/*estilos animacion*/
/* Animación al pasar el cursor sobre los enlaces del menú */
.sub-header li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: color 0.3s; /* Transición de color durante 0.3 segundos */
}

.sub-header li a:hover {
  color: #ffd500; /* Color al pasar el cursor */
}

/* Animación al pasar el cursor sobre el icono del menú */
.sub-header-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: transform 0.3s ease, background-color 0.3s; /* Transición de transformación y color */
}

.sub-header-toggle span:nth-child(2) {
  transform: translateY(8px);
}
.sub-header-toggle span:nth-child(3) {
  transform: translateY(-8px);
}

/* Rotación de los trazos al abrir el menú */
.sub-header input[type="checkbox"]:checked + label .sub-header-toggle span:nth-child(1) {
  transform: rotate(45deg);
}

.sub-header input[type="checkbox"]:checked + label .sub-header-toggle span:nth-child(2) {
  opacity: 0;
}

.sub-header input[type="checkbox"]:checked + label .sub-header-toggle span:nth-child(3) {
  transform: rotate(-45deg);
}

.image-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Agrega una sombra oscura */
  /* Aumenta la luminosidad de la imagen */
}
.image-container img {
  transition: transform 0.4s ease-in-out; /* Aumenta el tiempo de transición a 0.6 segundos */
}


/*prueba boton borrar y editar*/
.button, .edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.svgIcon, .edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.svgIcon path, .edit-svgIcon path {
  fill: white;
}

.button:hover, .edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon, .edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.button::before, .edit-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.button:hover::before, .edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.edit-button::before {
  content: "Edit";
}


/*prueba flex*/
/* Estilos para el resto del documento */




.fuenteInfo {
  padding: 20px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}